<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ title}}{% endblock %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="style.css">
    {% endblock %}

</head>

<body>

    {% block body %}
    {{ include('header.html.twig') }}

    {{ include('content.html.twig') }}
    
    {{ include('footer.html.twig') }}

    {% endblock %}
    {% block javascripts %}{% endblock %}
</body>

</html>