<h3 class="pealkiri">Sisesta kontakti nimi ja number</h3>

<div class="content container">
    <form action="/action_page.php">
        <label for="name">Nimi</label>
        <input type="text" id="name" name="name" placeholder="Nimi..">

        <label for="number">Number</label>
        <input type="text" id="number" name="number" placeholder="Number..">

        <input type="submit" value="Add to contacts">
        <input type="submit" value="Show contacts">

    </form>

    
</div>


<h2 class="pealkiri">Phonebook</h2>
<div class="container">
        <table>
                <tr>       
                    <th>Name</th>
                    <th>Number</th>
                </tr>
                <tr>
                    <td>Alfreds Futterkiste</td>
                    <td>Maria Anders</td>
                    
                </tr>
                <tr>
                    <td>Centro comercial Moctezuma</td>
                    <td>Francisco Chang</td>
                    
                </tr>
                <tr>
                    <td>Ernst Handel</td>
                    <td>Roland Mendel</td>
                    
                </tr>
                <tr>
                    <td>Island Trading</td>
                    <td>Helen Bennett</td>
                    
                </tr>
                <tr>
                    <td>Laughing Bacchus Winecellars</td>
                    <td>Yoshi Tannamuri</td>
                    
                </tr>
                <tr>
                    <td>Magazzini Alimentari Riuniti</td>
                    <td>Giovanni Rovelli</td>
                    
                </tr>
            </table>
        

</div>