{% extends "base.html.twig" %}


{% block body %}



<div id="page-container">



    <h1 class="pealkiri">Contacts</h1>
    <div class="text-center">
        <a href="./new" class="btn btn-primary">Add contact</a>
    </div>


    <table id="tabel">
        <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Actions</th>
        </tr>
        <tr>
            {% for contact in contacts %}
            <td>{{ contact.name }}</td>
            <td>{{ contact.number }}</td>
            <td>
                <a href="./update/{{ contact.id }}" class="btn btn-warning">update</a>
                <a data-id="{{ contact.id }}" class="btn btn-danger">delete</a>
            </td>
        </tr>
        {% endfor %}

    </table>

</div>




{% endblock %}

{% block javascripts %}
    <script src="script.js"></script>
{% endblock %}