{% extends "base.html.twig" %}


{% block body %}



<div id="page-container">

    

    <h1 class="pealkiri">Contacts</h1>
    
    <table>
        <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Actions</th>
        </tr>
        <tr>
            {% for contact in contacts %}
            <td>{{ contact.name }}</td>
            <td>{{ contact.number }}</td>
            <td><a href="{{ contact.id }}" class="btn btn-danger">delete</a></td>
        </tr>
        {% endfor %}

    </table>

</div>

{{ include('footer.html.twig') }}








{% endblock %}